.eolic-wrapper {
  position: relative;
  background-color: #0B1B2B;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/* Imagen flotante */
.eolic-floater {
  position: absolute;
  top: 35%;              /* Cambiá este valor para moverla arriba o abajo */
  right: 9%;            /* Cambiá este valor para moverla más a la derecha o izquierda */
  transform: translate(20%, -45%); /* Ajustes finos de desplazamiento */
  z-index: 3;
  pointer-events: none;
  opacity: 0.45;
}


.eolic-floating-image {
 width: 550px;       /* Cambia el ancho */
  height: auto;
  mix-blend-mode: lighten;
  opacity: 0.85;
}

/* Card expandida */
.eolic-card {
  background-color: #153351;
  border-radius: 16px;
  padding: 80px 60px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 40px rgba(0, 255, 120, 0.05);
  position: relative;
  z-index: 2;
}

.eolic-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
}

.eolic-title {
  margin-left: 10px;
  margin-bottom: 60px;
  max-width: 600px;
}

.eolic-title h1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.4;
  color: white;
}

/* Nueva distribución en fila */
.eolic-features-row {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.eolic-feature {
  display: flex;
  flex: 1 1 0;
  min-width: 280px;
  z-index: 3;
}

.line {
  width: 4px;
  height: auto;
  background-color: #22c55e;
  margin-right: 20px;
  margin-top: 6px;
}

.eolic-feature h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color :#ccc
}

.eolic-feature p {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.5;
}
