.notis-card-list {
  padding: 20px;
}

.notis-card {
  background: ##777;;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notis-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.notis-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.notis-card-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.notis-card-content p {
  font-size: 14px;
  color: #555;
}

.notis-card-content {
  flex-grow: 1;
}

.notis-card-content .notis-description {
  color: #777;
}

.notis-card-content .notis-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.notis-card-content .notis-description {
  font-size: 14px;
  color: #616161;
}

.notis-card .icon-renewable {
  font-size: 24px;
  margin-right: 12px;
}

.notis-card-content .notis-icon {
  font-size: 20px;
  margin-right: 12px;
}
