.energy-carrousel {
  padding: 20px;
  background-color: #0B1B2B;
}

.carrousel-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.carrousel-logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
