/* --------------------------------- */
/*         Sección Our Solutions     */
/* --------------------------------- */
/* Our Solutions Section */
.our-solutions {
  position: relative;
  padding: 80px 20px;
  background:  #0B1B2B; /* Degradado para una transición suave */
  overflow: hidden;
  margin-top: 0; /* Eliminar espacio extra */
  padding-top: 0;
  border-top: none; /* Asegurar que no haya borde */
}
.our-solutions::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180px; /* Altura del desenfoque */
  top: -50px; /* Baja el efecto para tapar el corte */
  left: 0;
  background: #0B1B2B;
  filter: blur(25px); /* Intensidad del desenfoque */
  transition: 2s;
  z-index: 1;
}



@keyframes ourSolutionsBlurAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.solutions-content {
  position: relative;
  z-index: 2; /* Se ubica sobre el fondo de partículas */
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 70px;
  font-weight: bold;
  text-transform: uppercase;
}

.solutions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.solution-card {
  background-color: #153351;
  padding: 30px;
  border-radius: 10px;
  
  transition: transform 0.3s ease;
}

.solution-card:hover {
  transform: translateY(-5px);
}

.solution-title {
  font-size: 1.75rem;
  color: var(--accent-color);
  margin-bottom: 15px;
}

.solution-description {
  font-size: 1rem;
  line-height: 1.6;
}