/* --------------------------------- */
/*         Sección Propeller         */
/* --------------------------------- */
.propeller-section {
  position: relative;
  padding: 80px 20px;
  background-color: #0B1B2B; /* Azul oscuro */
  overflow: hidden;
}

.card-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #153351;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.text-card {
  padding: 20px;
}


.section-heading {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-description {
  font-size: 1.0 rem;
  margin-bottom: 20px;
}

/* Imagen sobrepuesta del aerogenerador */
.propeller-image-overlay {
  position: absolute;
  top: 80px;    /* Ajusta para mover la imagen verticalmente */
  right: 90px; /* Ajusta para mover la imagen horizontalmente */
  width: 300px;  /* Tamaño de la imagen, ajusta según el diseño */
  max-width: 100%;
  z-index: 3;
}

